MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
DAGSTER_PG_HOST=postgres
DAGSTER_PG_USERNAME=dagster
DAGSTER_PG_PASSWORD=dagster
DAGSTER_PG_DB=dagster
