# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/
env/

# Env
.env

# Dagster
dagster_home/history/
dagster_home/storage/
dagster_home/logs/
dagster_home/runs/

# Terraform
infra/.terraform/
infra/.terraform.lock.hcl
infra/terraform.tfstate
infra/terraform.tfstate.backup
infra/terraform.tfvars

# DuckDB
*.duckdb
*.db

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
